:root {
  --text-color: rgb(0, 0, 0);
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: fantasy;
  color: var(--text-color);
  font-size: 1.07em;
  font-weight: bolder;
  text-align: center;
  text-shadow: 3px 3px 13px var(--text-color);
  transition: all 1s;
  overflow: hidden;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}

main {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
}

.map {
  display: grid;
  justify-self: center;
  align-self: center;
  background: black;
  aspect-ratio: 1/1;
  max-height: 80vh;
  height: 100%;
  width: auto;
}

@media (orientation: portrait) {
  main {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 10vh 60vh 10vh;
  }

  .map {
    max-height: 60vh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(255, 0, 0);
  }
}
