:root {
  --background-color: rgb(255, 255, 250);
  --bar-background-color: rgb(236, 236, 234);
  --button-color: rgb(6, 110, 90);
  --button-color-hover: rgb(6, 150, 130);
  --text-color: rgb(255, 255, 250);
  --text-bar-color: rgb(3,3,0);
  --houses-color: rgb(3, 90, 70);
  --houses-color-hover: rgb(3, 130, 110);
  --corridors: rgb(30, 70, 50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(0, 0, 0);
    --bar-background-color: rgb(21, 21, 19);
    --button-color: rgb(6, 70, 50);
    --button-color-hover: rgb(6, 30, 10);
    --text-bar-color: rgb(255,255,250);
    --houses-color-hover: rgb(3, 50, 30);
  }
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  color: var(--text-color);
  font-size: 1.07em;
  font-weight: bolder;
  text-align: center;
  transition: all 1s;
  overflow: hidden;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  background: var(--background-color);
  grid-template-rows: 10vh 80vh 10vh;
}

.bar {
  display: flex;
  background: var(--bar-background-color);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bar-text {
 color: var(--text-bar-color);
}

.button {
  background: var(--button-color);
  padding: 5%;
  border-radius: 13px;
  margin: 5%;
}

.button:hover {
  background: var(--button-color-hover);
}

main {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
}

.edit {
  display: flex;
  height: max-content;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.save {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.full_map {
  display: grid;
  justify-self: center;
  align-self: center;
  aspect-ratio: 1/1;
  max-height: 80vh;
  height: 100%;
  width: auto;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . d d d d d . . . . . . . e e e . . . ."
    ". . . . . . . . . . . . . d d d d d . . . . . . . e e e . . . ."
    ". . . . . . . . . . . . . d d d d d . . . . . . . e e e . . . ."
    ". . . . . . . . . . . . . d d d d d . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . d d d d d . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . y . . . . . . . . . f f f . . . ."
    ". . . . . . . . . . . . . . . y . . . . . . . . . f f f . . . ."
    ". . . . . . . c c c c c c c c c c c c c c c c c . f f f . . . ."
    ". . . . . . . c c c c c c c c c c c c c c c c c . f f f . . . ."
    ". . . . . . . c c c c c c c c c c c c c c c c c . f f f . . . ."
    ". . . . . . . . . x . . . . . . . . . . . . z . . . . . . . . ."
    ". . . . . . . . . x . . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . . x . . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . . . . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . g g . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . g g . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . g g . . . ."
    ". . . . . . . . b b b . . . . . . . . . . a a a . . g g . . . ."
    ". . . . . . . . . . . . . . . . . . . . . a a a . . g g . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . g g . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . g g . . . ."
    ". . . . . . . . . . . . . h h . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . h h . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.houses {
  display: grid;
  background: var(--houses-color);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.houses:hover {
  background: var(--houses-color-hover);
}

.corridors {
  display: grid;
  background: var(--corridors);
  height: 100%;
  width: 100%;
}

.haus-1 {
  grid-area: a;
}

.haus-2 {
  grid-area: b;
}

.haus-3 {
  grid-area: c;
}

.haus-4 {
  grid-area: d;
}

.haus-5 {
  grid-area: e;
}

.haus-6 {
  grid-area: f;
}

.haus-8 {
  grid-area: g;
}

.haus-11 {
  grid-area: h;
}

.gang-1 {
  grid-area: z;
}

.gang-2 {
  grid-area: y;
}

.gang-3 {
  grid-area: x;
}

@media (orientation: portrait) {
  main {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 10vh 60vh 10vh;
  }

  .button {
    padding: 1%;
    margin: 1%;
  }

  .full_map {
    max-height: 60vh;
  }

  .bar {
    flex-direction: column;
  }
}
