@page
@{
    ViewData["Title"] = "Home page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <button id="ts">Test-Save</button>
    <button id="tp">Test-Passwort</button>
    <button id="tm">Test-Mapdata</button>
    <script>
        let ts = document.getElementById("ts");
        ts.addEventListener("click", async (e) => {
          const response = await fetch("/POSTMapData", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              "test": "test",
              "test2": {
                  "test3": [
                      "test4","test5"
                  ]
              }
            }),
          });
        });

        let tp = document.getElementById("tp");
        tp.addEventListener("click", async (e) => {
          const response = await fetch("/GETPassword");
          console.log(await response.json());
        });

        let tm = document.getElementById("tm");
        tm.addEventListener("click", async (e) => {
          const response = await fetch("/GETMapData");
          console.log(await response.json());
        });
    </script>
</body>
</html>

